@import url('https://fonts.googleapis.com/css?family=Roboto')

.info-window
    font-family: 'Roboto', sans-serif
    font-size: 11pt
    overflow-x: hidden

h1.marker-title
    color: rgba(0,23,107,1)
    font-size: 18pt

p.marker-date
    background: rgba(0,23,107,1)
    color: rgba(255,255,255,1)
    padding: 4px

p.marker-image

p.marker-memory

.contact
    border-top-style: solid
    border-top-color: rgba(0,23,107,1)
    border-top-width: 2px

p.marker-name
    display: inline-block
    padding-right: 5%

p.marker-email
    display: inline-block